@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=DM+Mono:wght@300;400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Sacramento&display=swap");

:root {
  font-family: "Cormorant Garamond", serif;

  color: #302525;
  background: #171313;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  background: #171313;
}

button,
a {
  font-family: inherit;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}